body {
  display:flex;
  flex-direction: row;

  color: aliceblue;
  background-color: rgb(110,21,21);

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body a{
  color: rgb(218, 214, 34);
}
header {
  text-align: center;
}